<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
  <body>
    <div class="container">
      <header>
        <h1><%- title %></h1>
        <a href="/admin">Back</a>
      </header>
      <form action="<%- link %>" method="POST" class="post-form">
        <div class="form-group">
          <label for="title">Title:</label>
          <input
            type="text"
            id="title"
            name="title"
            value="<%- articleTitle %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="date">Date:</label>
          <input
            type="date"
            id="date"
            name="date"
            value="<%- articleDate %>"
            required
          />
        </div>
        <div class="form-group">
          <label for="content">Content:</label>
          <textarea id="content" name="content" rows="10" required>
<%- articleContent %></textarea
          >
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
